ol{
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding:10px;
    background-color: rgb(5, 159, 255);
    color: white;
    font-size: 25px;
    cursor: pointer;
}
.link{
    text-decoration: none;
    padding: 7px;
}
.link:hover{
    color: rgb(5, 159, 255);
    background-color: white;
    border-radius: 20px;
}